<!DOCTYPE html>
<html>
<head>
    <title>Mostrar Transações</title>
</head>
<body>
    <h1>Transações AE</h1>
    <div id = "tabela">
        <div class="tabela-coluna">
            @ViewBag.ID
        </div>
        <div class="tabela-coluna">
            @ViewBag.Nome
        </div>
        <div class="tabela-coluna">
            @ViewBag.Descricao
        </div>
        <div class="tabela-coluna">
            @ViewBag.Valor
        </div>
        <div class="tabela-coluna">
            @ViewBag.Tipo
        </div>
        <div class="tabela-coluna">
            @ViewBag.Data
        </div>
    </div>
</body>
</html>